* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana;
}

.main-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000;
  color: white;
  padding: 1rem 0;
}
.logo {
  height: 4rem;
}
.head1{
  font-size: 1.75rem;
  display: flex;
  align-items: center;
  margin-left: 5%;
}
.head2{
  margin-right: 5%;
  align-self: flex-end;
}

.img1{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.btn1{
  color: white;
  border-color: white;
  background-color: #000;
  text-decoration: none;
  font-size: 1.75rem;
  padding: .75rem;
  border-radius: .75rem;
}


.btn2{
  color: white;
  text-decoration: none;
  font-size: 1.75rem;
  
  padding: .75rem;
  border-radius: .5rem;
 
  border: none;
  background-color: #4C5FD5;
  margin-left: .5rem;
  

}
.btn2:hover{
  color: black;
  background-color: white;
}

.help-center:hover{
  text-decoration: underline;
}
.head2:last-child{
  margin-left: .5rem;
  padding-left: 1rem;
}

.section2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  height: 35vh;
  
  background-color: #dadbf1;
}
.search{
  margin-top:1rem;
  padding: .75rem 1rem;
  font-size: 2.5rem;
  width: clamp(10rem,50rem,60rem);
}
.main{
  display: flex;
  justify-content: center;
 
  flex-wrap: wrap;
  
  margin: 7rem 0; 
  margin-left: 6%;
}
.main-item{
  display:flex;
  width: clamp(10rem,40rem,60rem);
  margin-bottom: 6rem;
  margin-right: 6rem;
}
.main-text{
  width: 75%;
}
.main-img{
  margin-right: .75rem;
}
.main-title{
  font-size: 1.75rem;
  margin-bottom: .5rem;
}
.main-paragraph{
  font-size: 1.25rem;
  margin-bottom: .5rem;
  line-height: 1.6;
}
.learn-more{
  color: #4e60b3;
}
.learn-more:hover{
  text-decoration: underline;
}
.title-sec2{
  font-size: 4rem;
}
ul, a{
  list-style: none;
  text-decoration: none;
  color: white;
}
li:hover{
  text-decoration: underline;
}
.ft-main{
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.ft-main-item{
  margin-top: 2.75rem;
}
.ft-main-title{
  font-size:1.5rem;
}
.ft-main-list{
  margin-top: 1rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

footer {
  background-color: #000;
  color: white;
}

@media(max-width:850px) {
  html{
    font-size: 11.5px;
  }
  .search{
    width: 95vw;
  }
}